<h1>Thank you for signing the petition!</h1>
<a href="/logout" id="signOutBtn">Sign Out</a>
<img id="yoursignature" src="{{final}}" alt="your-signature">
<br>
<br>

<a href="/signers" id="number-thanks-page">All {{ numberofItems }} signers can be viewed here</a>
<a href="/redraw" id="delete-thanks-page">Delete your signature</a>
<a href="/edit" id="edit-thanks-page">Edit your profile</a>