<a href="/logout" id="signOutBtn">Sign Out</a>
<p class="details-signerscities-page"> All people from {{cityFromSignersPage}}:</p>
{{#each signerscitiesRows}}

<li id="rows-signerscities-page">{{this.first}} {{this.last}} <b id="age-on-signerscities-page">{{this.age}}</b></li>

{{/each}}