<a href="/logout" id="signOutBtn">Sign Out</a>
<h3><em>Edit your info:</em></h3><br>
{{#if showError}}
<p id="error">FILL THE DATA!</p>
{{/if}}
<form action="/edit" method="POST" id="form-user-profile-page">
    <input type="text" name="firstNameValues" placeholder="First Name">
    <input type="text" name="secondNameValues" placeholder="Second Name">
    <input type="text" name="emailValue" placeholder="Email">
    <input type="password" name="passwordValue" placeholder="Password" id="password">
    <input type="text" name="ageValue" placeholder="Age">
    <input type="text" name="cityValue" placeholder="City">
    <input type="text" name="homepageValue" placeholder="Your website">
    <button type="submit" href="/signers"><b> Submit</b></button>
</form>