*{box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-color: rgb(171, 171, 171);
    font-family: 'Fjalla One', sans-serif;
    overflow: hidden;
}

main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 35px);
}


main {
    flex-grow: 1;
    justify-content: space-evenly
}

footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(202, 246, 250) 0%, rgb(61, 77, 77) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid rgb(0, 94, 12);
}
/*Vlad */
.div-for-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
#close-the-sky{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    font-size: 25px;
    background: #0077FF;
    background: linear-gradient(180deg, #0077FF 50%, #F7FF00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#btns-petition{
    display: flex;
    flex-direction: row;
}
#petition-page-btn1{
    border: 4px solid #fbff00;
        background-color: rgb(255, 191, 108);
        padding: 3px 20px 3px 20px;
        border-radius: 10px;
}
#petition-page-btn2{
    border: 4px solid #36b2ff;
        background-color: antiquewhite;
        padding: 3px 20px 3px 20px;
        border-radius: 10px;
}

#number-thanks-page{
    color: white;
}

#lines-signers-page{
    color: white;
    list-style-type: none;
}

#links-signers-page{
    color: rgb(103, 227, 255);
    font-style: italic;
}

#cities-signers-page{
    color: rgb(103, 227, 255);
    font-style: italic;
}

#not-mandatory-answers-text{
    color: white;
}

#rows-signerscities-page{
    color: white;
    list-style-type: none;
}

#age-on-signerscities-page{
    color:#ffa322;
}

#delete-thanks-page{
    color: rgb(118, 140, 158);
    font-style: italic;
}
#edit-thanks-page{
    color: rgb(118, 140, 158);
    font-style: italic;
}

#signOutBtn{
    position: absolute;
    color: white;
    left: 20px;
    top: 100px;
}
#signOutBtn img{
    width: 60px;
    cursor: pointer;
animation: signout 3s infinite;
}

@keyframes signout {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

img{
    width: 230px;
    border-radius: 10px;
}

#patriot{
    color: #0077FF;
}
#patriotp{
    color: #F7FF00;
}

#row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}
#row img{
    width: 254px;
}
#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110vh;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

#backgroundimage{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 35px);
    width: 100%;
    z-index: -2;
    filter: brightness(30%) grayscale(70%);
    border: 1px solid rgb(43, 0, 255);
}
#deletionBtn{
    background-color: #ff4747;
    border: 1px solid red;
    padding: 2px 10px 2px 10px;
    color: white;
    border-radius: 5px;
    animation: fadeIn 3s infinite;
}
@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
#thanks-for-signing{
    color: #F7FF00;
    margin-bottom: 30px;
    animation: thanks 5s;
}
    
@keyframes thanks {
    0% {
        opacity: 0;
        color: aliceblue;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        color: #F7FF00;
    }
}
#lines-signers-page{
    margin-bottom: 20px;
    animation: signers 5s;
}
@keyframes signers {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.a-tags-thanks-page{
    display: flex;
    flex-direction: column;
}
.a-tags-thanks-page a{
    margin: 10px;
}

h3{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
}

p{
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px #4a0000;
}

#drawing {
    border: 3px solid rgb(255, 136, 0);
    background: rgb(215, 150, 0);
        background: linear-gradient(212deg, rgba(215, 150, 0, 1) 0%, rgb(89, 144, 1) 93%);
    border-radius: 10px;
    /* width: 300px; */
}
input{
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 113);
}

button{
    border-radius: 5px;
    width: 200px;
    background-color: rgb(252, 234, 165);
    border: 2px solid rgb(255, 115, 0);
}
/* MEDIA QUERIES */
@media screen and (max-width: 830px) {
    footer{
        font-size: 12px;
    }
    h3{
        font-size: 12px;
    }

}
@media screen and (max-width: 585px) {
    p{
        font-size: 13px;
    }

}
@media screen and (max-width: 490px) {
    footer {
        font-size: 10px;
    }
    h3 {
        font-size: 10px;
    }
    p{
        font-size: 11px;
        line-height: 20px;
    }
}

@media screen and (max-width: 429px) {
    #close-the-sky {
        font-size: 20px;
    }
    img{
        width: 150px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    #drawing{
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    #signOutBtn img{
        width: 40px;
    }
}

#error{
    color: red;
    font-size: 30px;
    z-index: 999;
    margin: 5px;
}


/* thanks css*/

#num {
    color: rgb(0, 72, 255);
    font-size: 25px;
    font-style: italic;
}

#yoursignature {
    background-color: white;
    border: 3px solid orange;
    border-radius: 10px;
    width: 200px;
    animation: readysignature 2s;
}

@keyframes readysignature{
    0%{
        opacity: 0;
        border: 2px solid rgb(76, 0, 255);
    }
    100% {
        opacity: 1;
        border: 3px solid orange;
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
        opacity: 0.3;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}



/* NAVIGATION */
#navigation-thanks{
    position: absolute;
    top: 10px;
    right: 10px;
}


.nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0vh;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 900;
    justify-content: flex-start;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: block;
    width: 100px;
    height: 40px;
    cursor: grab;
    z-index: 999;
    position: absolute;
}

.burger>div {
    width: 45px;
    height: 2px;
    cursor: grab;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}


.nav-links.nav-active {
    transform: translateX(0%);
    z-index: 999;
}

.nav-links li {
    opacity: 0;
    margin-top: 60px;
    margin-bottom: 30px;
}

.burger {
    display: block;
    position: relative;
    z-index: 999;
}

.burger .line1 {
    position: absolute;
    right: 10px;
    top: 18px;
}

.burger .line2 {
    position: absolute;
    right: 10px;
    top: 26px;
}

.burger .line3 {
    position: absolute;
    right: 10px;
    top: 34px;
}




@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

/* burger lines */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

@media screen and (max-width: 500px){
    .nav-links {
        width: 60%;
    }
}

#backdrop {
    height: calc(100vh - 35px);
    width: 0vw;
    background-color: black;
    position: absolute;
    z-index: 90;
    opacity: 0;
    border-radius: 10px;
}

#backdrop.hidden {
    opacity: 0.8;
    width: 100vw;   
    overflow-y: hidden;
}



#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(30%) grayscale(70%);
}

@media screen and (max-width: 500px) {
    .nav-links {
        width: 60%;
    }
}

#number-t-p{
    color: #ffa322;
}

#row-petition-page{
    display: flex;
    align-items: center;
}

#text-on-petition-page{
    margin: 20px;
}
.user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

span{
    color: white;
}
select{
    width: 145px;
}

#photo{
    width: 145px;
}

#theavatar{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #000 ;
}

