<script defer src="arrows.js"></script>
<h3><em>Please, take part in the petition to save lives and protect ukrainian people.</em></h3><br>
<div id="row-petition-page">
    <img src="/patriot.jpg" alt="close the sky">
    <i id="1">«</i><i id="2">«</i><i id="3">«</i><p id="patriot-description">&nbsp; &nbsp; &nbsp;<a id="patriot" href="https://en.wikipedia.org/wiki/MIM-104_Patriot" target="_blank">MIM-104 Patriot</a>&nbsp; &nbsp; &nbsp; is the goal!
    </p>
</div>
    <p>Ukraine has been supplied with munition and anti-missile systems by the NATO states,<br>
    which enabled Ukraine to shoot down 75% of the missiles.
    <br>However none of them has the capabbilities to stop the remaining 25%. 
    <br> The political decision by Germany and partners could save hunderts of thousands of people.</p> 
<div id="btns-petition">
    <button href="/login">login</button>
    <button href="/register">register</button>  
</div>


