<h3><em>Please, sign in:</em></h3><br>
    {{#if showError}}
    <p id="error">FILL THE DATA!</p>
    {{/if}}
<form action="/petition" method="POST" id="form-signin-page">
    <input type="text" name="emailValue" placeholder="Email" >
    <input type="text" name="passwordValue" placeholder="Passpord">
    <button type="submit" href="/thanks"> <b> Sign In</b></button>
</form>

