{{#selectedProject}}
<p class="details">Project details:&#20;<b><em>{{name}}</em></b></p>
<div class="right-side">
    <img src="/{{url}}/screenshot.png" />
    <p>{{description}}</p>
    <a href="/{{url}}">Launch</a>
</div>
{{/selectedProject}}