<script defer src="canvas.js"></script>
<img src="/patriot.jpg" alt="close the sky">
<h3>Please, take part in the petition to save lives and protect ukrainian people.</h3><br>
    <p>Ukraine has been supplied with munition and anti-missile systems by the NATO states,<br>
    which enabled Ukraine to shoot down 75% of the missiles.
    <br>However none of them has the capabbilities to stop the remaining 25%. 
    <br> The political decision by Germany and partners could save hunderts of thousands of people.</p> 
<form action="/petition" method="POST" id="inputs">
    <input type="text" name="firstNameValues" placeholder="First Name" >
    <input type="text" name="secondNameValues" placeholder="Second Name">
    <canvas id="drawing" width="400" height="200" ></canvas>
    <button type="submit" href="/thanks"> <b> Submit</b></button>
    <input id="hidden" value="" style="display: none;" name="signature">
</form>
<img src="/field.jpeg" id="backgroundimage" alt="field">


{{!-- - If there are invalid values make sure to rerender the petition page with some extra information for the handlebars
view to show some error! --}}


{{!-- showError: true, if the canvas was not signed. --}}
{{#if showError}}
<p id="error">FILL THE DATA!</p>
{{!-- {{else}}
<p></p> --}}
{{/if}}