<h1>Thank you for signing the petition!</h1>
<a href="/signers" id="num">The number of signers is {{ numberofItems }}</a>
{{!-- <img src="/" alt="signature-signed"> --}}
{{!--src attribute set to the data url you passed to the template - this will render the img onscreen! --}}
