<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{getStylesHelper}}">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <title>Petition</title>
</head>

<body>
    <main>
        <h1>Close the sky over Ukraine!</h1>
        <div class="div-for-body">
            {{{body}}}
        </div>
    </main>
    <footer>Cohort name: {{cohortName}} || Created by: {{createdBy}} 2022</footer>
</body>
</html>