<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{getStylesHelper}}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script defer src="canvas.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script></script>
    <title>Petition</title>
</head>

<body>
    <main>
        <h1>Close the sky over Ukraine!</h1>
        <div class="div-for-body">
            {{{body}}}
        </div>
    </main>
    <footer>Cohort name: {{cohortName}} 2022 &nbsp; &nbsp; &nbsp; 💛 &nbsp; &nbsp; &nbsp;💙 &nbsp; &nbsp; &nbsp; Created by: {{createdBy}} </footer>
</body>
</html>

